@mixin on-mobile {
    @media (max-width: 769px) {
        @content
    }
}

.modalContainer {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.modalContent {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    @include on-mobile() {
        width: 90%;
        padding: 2rem 4rem;
    }

    .fileUpload {
        font-size: 1.5rem;

        & div:nth-child(2) {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-evenly;

            input[type="file"] {
                display: none;
            }

            & div:nth-child(1) {
                cursor: pointer;
                font-size: 1rem;
                border: 1px solid #1a2c3d;
                color: #1a2c3d;
                font-weight: 500;
                padding: 0.7rem 0rem;
                width: 40%;
                transition: all 0.3s ease-in;
                text-align: center;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                }
            }

            .customFileUpload {
                background: #1a2c3d;
                color: #FFF;
                transition: all 0.3s ease-in;
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 500;
                width: 40%;
                padding: 0.7rem 0rem;
                text-align: center;
                cursor: pointer;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                }
            }
        }

        @include on-mobile() {
            font-size: 2.5rem;
        }

    }

    .confirmUpdate {
        & p:nth-child(1) {
            font-size: 1.5rem;
        }

        & div:nth-child(2) {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: center;

            & div {
                transition: all 0.3s ease-in;
                margin-top: 1rem;
                font-size: 1rem;
                padding: 0.7rem 0rem;
                font-weight: 500;
                cursor: pointer;
                border: 1px solid #1a2c3d;
                color: #1a2c3d;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                }
            }

            & div:nth-child(2) {
                background: #1a2c3d;
                font-size: 1rem;
                color: #FFF;
                font-weight: 500;
                padding: 0.7rem 2rem;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                }
            }
        }
    }
}